//
   Created by alex on 11.08.2016.

h3 Overview
.headline
    h2 Top Categories

    .row.category.margin-bottom-20
    // Overview
        .col-sm-6
            .overview
                i.fa.fa-user
                .overflow-h
                    small Followers
                    small 2,1k
                    .progress.progress-u.progress-xxs
                        .progress-bar.progress-bar-u(style='width: 12%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='92', role='progressbar')
        // End Overview
        // Overview
        .col-sm-6
            .overview
                i.fa.fa-share
                .overflow-h
                    small VieSharews
                    small 749k
                    .progress.progress-u.progress-xxs
                        .progress-bar.progress-bar-u(style='width: 77%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='77', role='progressbar')
        // End Overview
    .row.margin-bottom-20
        // Overview
        .col-sm-6
            .overview
                i.fa.fa-eye
                .overflow-h
                    small Views
                    small 15,7k
                    .progress.progress-u.progress-xxs
                        .progress-bar.progress-bar-u(style='width: 88%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='88', role='progressbar')
        // End Overview
        // Overview
        .col-sm-6
            .overview
                i.fa.fa-group
                .overflow-h
                    small Opportunity Views
                    small 202,8k
                    .progress.progress-u.progress-xxs
                        .progress-bar.progress-bar-u(style='width: 76%', aria-valuemax='100', aria-valuemin='0', aria-valuenow='76', role='progressbar')
        // End Overview
    // Pie Chart Progress Bar
    .row.margin-bottom-20
        .p-chart.col-sm-6.col-xs-6.sm-margin-bottom-10
            h3 Engagement Score
            #circle-4.circle
            ul.list-unstyled.overflow-h
                li
                    i  -
                    a(href='#') Tips to Improve
                li
                    i  -
                    a(href='#') Compare to Others
                li
                    i  -
                    a(href='#') More Information
        .p-chart.col-sm-6.col-xs-6
            h3 Progfile Completness
            #circle-5.circle
            ul.list-unstyled.overflow-h
                li
                    i  -
                    a(href='#') Steps to Completion
                li
                    i  -
                    a(href='#') Compare to Others
                li
                    i  -
                    a(href='#') More Information
    // End Pie Chart Progress Bar