//
   Created by alex on 07.08.2016.
#performance.player_details
    .player_performance#performance_details
    .panel.panel-default
        .panel-heading Player performance: Season 6
        .panel-body
            table.table.table-hover.table-striped.table-condenced
                thead
                    tr
                        tr
                            th Date
                            th Matchtype
                            th Result
                            th Opponent
                            th Minutes
                            th Goals
                            th Assists
                            th MoM
                            th (y/r)
                            th Avr
                            th Details
                        tr
                            td 12.07.16
                            td League (1:1)
                            td #[a(href='/players/7') 1-1 ]
                            td #[a(href='/players/7') Brighton ] (h)
                            td 90
                            td 1
                            td 0
                            td 0
                            td 0/0
                            td 7.90
                            td #[a(href='/players/7') more ]
                        tr
                            td 07.07.16
                            td League (1:1)
                            td #[a(href='/players/7') 3-1 ]
                            td #[a(href='/players/7') Foxtrot ] (a)
                            td 90
                            td 0
                            td 1
                            td 0
                            td 0/0
                            td 7.62
                            td #[a(href='/players/7') more ]
                        tr
                            td 12.07.16
                            td League (1:1)
                            td #[a(href='/players/7') 0-1 ]
                            td #[a(href='/players/7') Charlie ] (h)
                            td 90
                            td 0
                            td 0
                            td 0
                            td 0/0
                            td 7.53
                            td #[a(href='/players/7') more ]
                        tr
                            td 12.07.16
                            td League (1:1)
                            td #[a(href='/players/7') 0-1 ]
                            td #[a(href='/players/7') Kilo ] (a)
                            td 90
                            td 0
                            td 0
                            td 0
                            td 0/0
                            td 7.61
                            td #[a(href='/players/7') more ]
                        tr
                            td 12.07.16
                            td League (1:1)
                            td #[a(href='/players/7') 3-1 ]
                            td #[a(href='/players/7') Pissant ] (a)
                            td 90
                            td 1
                            td 2
                            td 1
                            td 1/0
                            td 8.35
                            td #[a(href='/players/7') more ]
                        tr
                            td 12.07.16
                            td League (1:1)
                            td #[a(href='/players/7') 1-1 ]
                            td #[a(href='/players/7') Blaintant ] (h)
                            td 90
                            td 0
                            td 1
                            td 0
                            td 0/0
                            td 7.80
                            td #[a(href='/players/7') more ]
                        tr
                            td 12.07.16
                            td League (1:1)
                            td #[a(href='/players/7') 0-1 ]
                            td #[a(href='/players/7') Rouchly ] (a)
                            td 90
                            td 0
                            td 0
                            td 0
                            td 0/0
                            td 6.24
                            td #[a(href='/players/7') more ]
                        tr
                            td 12.07.16
                            td League (1:1)
                            td #[a(href='/players/7') 0-0 ]
                            td #[a(href='/players/7') Ritchies ] (h)
                            td 90
                            td 0
                            td 0
                            td 0
                            td 0/1
                            td 5.80
                            td #[a(href='/players/7') more ]
                        tr
                            td 12.07.16
                            td League (1:1)
                            td #[a(href='/players/7') 2-0 ]
                            td #[a(href='/players/9') Sporting ] (a)
                            td 90
                            td 0
                            td 2
                            td 1
                            td 0/0
                            td 7.90
                            td #[a(href='/players/7') more ]
                        tr
                            td 12.07.16
                            td League (1:1)
                            td #[a(href='/players/7') 2-1 ]
                            td #[a(href='/players/7') NoFail ] (h)
                            td 75
                            td 0
                            td 2
                            td 0
                            td 0/0
                            td 7.62
                            td #[a(href='/players/7') more ]
                        tr
                            td 12.07.16
                            td League (1:1)
                            td #[a(href='/players/7') 1-3 ]
                            td #[a(href='/players/7') LotsOfGoals ] (h)
                            td 90
                            td 1
                            td 0
                            td 1
                            td 0/0
                            td 8.42
                            td #[a(href='/players/7') less ]
                        tr
                            td(colspan='2')
                                table.table.table-condensed
                                    tr
                                        td <strong>Position</strong>
                                        td AMR
                                    tr
                                        td <strong>Role</strong>
                                        td Deep runner
                                    tr
                                        td <strong>Motivation</strong>
                                        td 83
                                    tr
                                        td <strong>Condition</strong>
                                        td 95

                            td(colspan='2')
                                table.table.table-condensed
                                    tr
                                        th
                                        th  #
                                        th  Won
                                    tr
                                        td Shots saved
                                        td 0
                                        td 0%
                                    tr
                                        td Aerial saves
                                        td 0
                                        td 0%
                                    tr
                                        td Reflex saves
                                        td 0
                                        td 0%
                                    tr
                                        td Long shot saves
                                        td 0
                                        td 0%
                                    tr
                                        td Penalty saves
                                        td 0
                                        td 0%
                            td(colspan='2')
                                table.table.table-condensed
                                    tr
                                        th
                                        th  #
                                        th  Won
                                    tr
                                        td Duels
                                        td 43
                                        td 12%
                                    tr
                                        td Tackles
                                        td 38
                                        td 57%
                                    tr
                                        td Clearings
                                        td 2
                                        td 0%
                                    tr
                                        td Blockings
                                        td 5
                                        td 58%
                                    tr
                                        td Aerial duels
                                        td 13
                                        td 33%
                            td(colspan='2')
                                table.table.table-condensed
                                    tr
                                        th
                                        th  #
                                        th  Won
                                    tr
                                        td Long shots
                                        td 67
                                        td 58%
                                    tr
                                        td Shots
                                        td 22
                                        td 45%
                                    tr
                                        td Headings
                                        td 12
                                        td 48%
                                    tr
                                        td Penalties
                                        td 2
                                        td 100%
                                    tr
                                        td Free-kicks
                                        td 12
                                        td 30%
                            td(colspan='2')
                                table.table.table-condensed
                                    tr
                                        th
                                        th  #
                                        th  Won
                                    tr
                                        td Carried ball
                                        td 112
                                        td 78%
                                    tr
                                        td Passes
                                        td 138
                                        td 47%
                                    tr
                                        td Long passes
                                        td 35
                                        td 70%
                                    tr
                                        td Crosses
                                        td 52
                                        td 78%
                                    tr
                                        td Through balls
                                        td 32
                                        td 73%
